#home_widgets
	.widget.content
		p Транспортная Компания <span class="purple">ООО «АМАС авто»</span> профессионально осуществляет <b>перевозку грузов</b> по городам Беларуси, России, Казахстана, Грузии, Армении, Узбекистана. 
		a.button.purple(href="#") Подробнее
	.widget.content
		p Мы предлагаем транспорт для перевозки следующих грузов:
		ul.arch
			li Комплектные
			li Негабаритные
			li Опасные (ADR)
	.widget.stats
		.date
			span.percent + 12%
			span.month за сентябрь
		.value >&nbsp;135k
		.label
			span тонн грузов
	.widget.callback
		p Оставьте свой номер и мы вам перезвоним:
		form
			input(type="text" required placeholder="+375 xx xxx xx xx")
			button.regular.purple.outline(type="submit") Отправить




