.swiper.mb1(swiper)
	.swiper-wrapper 
		.swiper-slide(role)
			img(src="/assets/img/pages/home/slider/01.jpg" width="617" height="244")
			span.slogan Amas Auto - бесконечные горизонты
		//- .swiper-slide
		//- 	img(data-src="/assets/img/pages/home/slider/02.jpg")
		//- .swiper-slide
		//- 	img(data-src="/assets/img/pages/home/slider/03.jpg")
	//- .arrows
	//- 	img.prev(src="/assets/img/icons/arrow.svg" width="24" height="24")
	//- 	img.next(src="/assets/img/icons/arrow.svg" width="24" height="24")

