aside
	.logo
		a(href="/")
			img(src="/assets/img/logo.svg" width="55" height="24")
		.dsc
			span международные
			span грузоперевозки
	nav
		ul
			li.active
				a(href="/")
					img(src="/assets/img/icons/nav/home.svg" width="23" height="21")
					span Главная
			li
				a(href="/routes.html")
					img(src="/assets/img/icons/nav/routes.svg" width="22" height="22")
					span Маршруты
			li
				a(href="/calc.html")
					img(src="/assets/img/icons/nav/calc.svg" width="24" height="24")
					span Расчет ставки
			li
				a(href="/about.html")
					img(src="/assets/img/icons/nav/about.svg" width="24" height="24")
					span О нас
			li
				a(href="/contacts.html")
					img(src="/assets/img/icons/nav/contacts.svg" width="24" height="24")
					span Контакты
