#calc_form
	h3 Расчет стоимости

	label.from
		input(type="text" required)
		span Откуда

	label.to
		input(type="text" required)
		span Куда

	.double.mass
		label.mass_from
			input(type="text" required)
			span Масса, тн, от
		label.mass_to
			input(type="text" required)
			span Масса, до

	.double.vol
		label.vol_from
			input(type="text" required)
			span Объем, м<sup>3</sup>, от
		label.vol_to
			input(type="text" required)
			span Объем, до
	
	label.calendar
		input(type="text" required)
		span Дата отправления
		img.calendar(src="/assets/img/icons/calendar.svg" width="18" height="18")

	label.name
		input(type="text" required)
		span Наименование груза

	.type
		span.t Тип транспорта
		.tt
			.item
				span.title Крытая
				.list
					label
						input(type="checkbox")
						span Тент
					label
						input(type="checkbox")
						span Реф.
					label
						input(type="checkbox")
						span Реф. тушевоз
					label
						input(type="checkbox")
						span Цельнометал.
			.item
				span.title Открытая
				.list
					label
						input(type="checkbox")
						span Открытая
					label
						input(type="checkbox")
						span Контейнеровоз
			.item
				span.title Цистерна
				.list
					label
						input(type="checkbox")
						span Цистерна

	label.phone
		input(type="text" required)
		span Ваш номер телефона

	button.send.regular() Отправить	


