footer
	.scripts-area
	.logo
		a(href="/")
			img(src="/assets/img/logo_footer.svg" width="55" height="24" loading="lazy")
		.dsc
			span международные
			span грузоперевозки
	ul.nav
		li
			a(href="/") Главная
		li
			a(href="/routes.html") Маршруты
		li
			a(href="/calc.html") Расчет ставки
		li
			a(href="/about.html") О нас
		li
			a(href="/contacts.html") Контакты
		li.cb
			span Перезвоните мне
		li.tel
			a(href="tel:") +375 29 690 39 73
		li.soc
			a(href="#") Viber,
			a(href="#") WhatsApp,
			a(href="#") Telegram

