#header_contacts
	a.logo(href="/" style="display:none")
		img(src="/assets/img/logo.svg" width="55" height="24" loading="lazy")
	a.tel(href="tel:") +375 29 690 39 73
	ul.mess
		li.viber
			a(href="#") Viber
		li.wa
			a(href="#") WhatsApp
		li.sk
			a(href="#") Skype
		li.tg
			a(href="#") Telegram
	.mobile-dropdown
		img(loading="lazy" src="/assets/img/icons/d3.svg" width="3" height="15")
		ul
			li.viber
				a(href="#") Viber
			li.wa
				a(href="#") WhatsApp
			li.sk
				a(href="#") Skype
			li.tg
				a(href="#") Telegram
	a.calc(href="/calc.html") Расчет цены
	.mobile-menu
		img(loading="lazy" src="/assets/img/icons/d3.svg" width="3" height="15")
		.wrap
			ul
				li
					a(href="/") Главная
				li
					a(href="/routes.html") Маршруты
				li
					a(href="/calc.html") Расчет ставки
				li
					a(href="/about.html") О нас
				li
					a(href="/contacts.html") Контакты
	a.callback(href="#") Перезвоните мне