#routes_accordion
	ul
		li.title
			span Кавказ
			ul
				li
					a(href="/route.html") Грузия - Беларусь
				li
					a(href="/route.html") Армения - Беларусь
				li
					a(href="/route.html") Азербайджан - Беларусь
		li.title
			span Турция
			ul
				li
					a(href="/route.html") Турция - Беларусь
				li
					a(href="/route.html") Турция - Россия
		li.title
			span Экспорт
			ul
				li
					a(href="/route.html") Беларусь - Россия
				li
					a(href="/route.html") Беларусь - Грузия
				li
					a(href="/route.html") Беларусь - Казахстан
				li
					a(href="/route.html") Беларусь - Узбекистан
				li
					a(href="/route.html") Беларусь - Таджикистан
				li
					a(href="/route.html") Беларусь - Азербайджан
				li
					a(href="/route.html") Беларусь - Турция
