block variables
#sidebar
	#search
		input(type="text")
		img.search(src="/assets/img/icons/search.svg" width="18" height="20")
		//- ul.search_results
		//- 	li
		//- 		a(href="#") Грузия - Беларусь
		//- 	li
		//- 		a(href="#") Грузия - Россия
	if title !== 'Calc'
		include ./calc_form
	include ./routes_accordion