h1 О нас
.cnt
	p Транспортная Компания ООО «АМАС авто» профессионально осуществляет перевозку грузов по городам Беларуси, России, Казахстана, Грузии, Армении, Узбекистана.
	p Образованная в октябре 2012 года в г. Минске, транспортная компания на сегодняшний день имеет собственный автопарк состоящий из грузовых автомобилей типа:
	ul
		li Рефрижератор, с поддержанием температурного режима (-25..+25 °C);
		li Тент 82 м³;
		li Тент 92 м³;
		li Тент 100 м³

	p Перевозка грузов всегда сопряжена с известными рисками. Чтобы свести их к минимуму, важно доверять грузовые перевозки надёжной компании, чья безупречная репутация в области логистики подтверждена годами отличной работы.
	p.b Мы обеспечиваем:
	ul
		li экспертный уровень консультаций на предмет предоставляемых услуг грузоперевозки
		li информируем о прибытии груза
		li подбираем оптимальный маршрут перевозки грузов
		li производим расчёт стоимости грузоперевозки

	p.b Всего за 10 лет работы мы достигли следующих показателей:
	ul
		li Перевезли > 135000 тонн грузов
		li Проехали > 5 500 000 километров
		li Привлекли к работе 4500 автомобилей
		li Получили как минимум 600 надёжных партнёров по всему миру
	p.b Мы готовы к плодотворному сотрудничеству с предприятиями всех регионов
include ../../ui/pages/route/widget.how.pug






