#how_to_work.block
	h3 Как мы работаем
	ul
		li
			img(src="/assets/img/pages/route/how/env.svg" width="63" height="64")
			span.h Заполните форму
			span.d Мы перезвоним и согласуем детали
		li
			img(src="/assets/img/pages/route/how/shake.svg" width="69" height="69")
			span.h Заключаем договор

		li
			img(src="/assets/img/pages/route/how/box.svg" width="63" height="67")
			span.h Доставляем груз
			span.d Подписываем документы