.block.partners
	h3 Наши партнеры
	.arrows
		img.prev(src="/assets/img/icons/arrow.svg" width="24" height="24")
		img.next(src="/assets/img/icons/arrow.svg" width="24" height="24")
	.swiper.partners
		.swiper-wrapper
			.swiper-slide
				img(src="/assets/img/pages/route/partners/01.jpg" width="118" height="127")
			.swiper-slide
				img(src="/assets/img/pages/route/partners/02.jpg" width="118" height="127")
			.swiper-slide
				img(src="/assets/img/pages/route/partners/03.jpg" width="118" height="127")
			.swiper-slide
				img(src="/assets/img/pages/route/partners/04.jpg" width="118" height="127")
			.swiper-slide
				img(src="/assets/img/pages/route/partners/01.jpg" width="118" height="127")
			.swiper-slide
				img(src="/assets/img/pages/route/partners/01.jpg" width="118" height="127")