.block.transport
	h3 Наш транспорт
	.cars
		.item
			img(src="/assets/img/pages/route/transport/01.jpg" width="107" height="70")
			span Рефрижератор
		.item
			img(src="/assets/img/pages/route/transport/02.jpg" width="107" height="70")
			span Тент 82 <sup>3</sup>
		.item
			img(src="/assets/img/pages/route/transport/02.jpg" width="107" height="70")
			span Тент 92 <sup>3</sup>
		.item
			img(src="/assets/img/pages/route/transport/02.jpg" width="107" height="70")
			span Тент 100 <sup>3</sup>

