.block.routes
	h3 Наши маршруты
	.arrows
		img.prev(src="/assets/img/icons/arrow.svg" width="24" height="24")
		img.next(src="/assets/img/icons/arrow.svg" width="24" height="24")
	.swiper.routes
		.swiper-wrapper
			.swiper-slide
				a(href="/route.html")
					img(src="/assets/img/icons/pointer.svg" width="34" height="46")
					span Турция -
					span Беларусь
			.swiper-slide
				a(href="/route.html")
					img(src="/assets/img/icons/pointer.svg" width="34" height="46")
					span Беларусь -
					span Азербайджан
			.swiper-slide
				a(href="/route.html")
					img(src="/assets/img/icons/pointer.svg" width="34" height="46")
					span Франция -
					span Россия
			.swiper-slide
				a(href="/route.html")
					img(src="/assets/img/icons/pointer.svg" width="34" height="46")
					span Франция -
					span Россия
			.swiper-slide
				a(href="/route.html")
					img(src="/assets/img/icons/pointer.svg" width="34" height="46")
					span Франция -
					span Россия
			.swiper-slide
				a(href="/route.html")
					img(src="/assets/img/icons/pointer.svg" width="34" height="46")
					span Франция -
					span Россия