h1 Контакты
.content
	p.b Реквизиты:
	ul
		li ООО “АМАС авто”
		li УНП 691130684
		li ЗАО “Альфа-Банк”
		li адрес банка: РБ,  220013, Минск, ул. Сурганова, 43-47
		li БИК: ALFABY2X

	p.b Расчетные счета:
	ul
		li BY73ALFA30122348430010270000 (BYN)
		li BY58ALFA30122348430020270000 (RUB)
		li BY43ALFA30122348430030270000 (EUR)
		li BY28ALFA30122348430040270000 (USD)


	p.b Наш адрес:
	ul
		li 223018, Беларусь, Минский район
		li д. Тарасово, ул. Ратомская, д.1 “Б”, пом. 203

	p.b Как связаться:
	p(style="color: #6779ff") info@amas.by
	ul(style="margin-bottom: 1rem")
		li Александр (директор)
		li +375 29 690 39 73 (WA / Viber / Skype / Telegram)  
	ul
		li Владислав (нач. отдела экспедиции)
		li +375 33 902 09 93 (WA / Viber / Skype / Telegram)






