h1 Маршруты
p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus posuere laoreet. Proin viverra tellus magna, vel tincidunt sem ornare id. Cras id nunc sit amet leo tempus volutpat sit amet ac metus. Aenean euismod suscipit nisl, id vulputate felis venenatis non. Cras vehicula, velit et ornare interdum, mauris ex cursus sapien, auctor feugiat libero ligula sed purus. Proin eu magna nibh. Pellentesque sagittis lectus sed sem finibus lacinia.

#route_cards.masonry
	.card
		.masonry-content
			span.header Турция
			ul
				li
					a(href="/route.html") Турция - Беларусь
				li
					a(href="/route.html") Турция - Россия
	.card
		.masonry-content
			span.header Экспорт
			ul
				li
					a(href="/route.html") Беларусь - Россия
				li
					a(href="/route.html") Беларусь - Грузия
				li
					a(href="/route.html") Беларусь - Казахстан
				li
					a(href="/route.html") Беларусь - Узбекистан
				li
					a(href="/route.html") Беларусь - Таджикистан
				li
					a(href="/route.html") Беларусь - Азербайджан
				li
					a(href="/route.html") Беларусь - Турция
	.card
		.masonry-content
			span.header Кавказ
			ul
				li
					a(href="/route.html") Грузия - Беларусь
				li
					a(href="/route.html") Армения - Беларусь
				li
					a(href="/route.html") Азербайджан - Беларусь
				li
					a(href="/route.html") Армения - Россия
	.card
		.masonry-content
			span.header Европа
			
			ul
				li
					a(href="/route.html") Польша - Беларусь
				li
					a(href="/route.html") Литва - Беларусь
				li
					a(href="/route.html") Чехия - Беларусь
				li
					a(href="/route.html") Венгрия - Беларусь

			ul
				li
					a(href="/route.html") Польша - Россия
				li
					a(href="/route.html") Литва - Россия
				li
					a(href="/route.html") Чехия - Россия
				li
					a(href="/route.html") Венгрия - Россия

	.card
		.masonry-content
			span.header Россия
			ul
				li
					a(href="/route.html") Москва и МО - Беларусь
				li
					a(href="/route.html") С. Петербург и ЛО - Беларусь
				li
					a(href="/route.html") Липецк - Беларусь
				li
					a(href="/route.html") Челябинск - Россия

