$border_color: #E7E7E7
$grey: #959BAB
$purple: #6779FF
$black: #1A1C33
$orange: #FF9920

$grey_icon: invert(67%) sepia(5%) saturate(698%) hue-rotate(186deg) brightness(91%) contrast(94%)
$purple_icon: invert(53%) sepia(37%) saturate(6168%) hue-rotate(215deg) brightness(100%) contrast(102%)
$orange_icon: invert(72%) sepia(17%) saturate(4948%) hue-rotate(342deg) brightness(100%) contrast(101%)

@font-face
	font-family: 'Open Sans'
	font-style: normal
	font-weight: 400
	src: local('Open Sans'), local('Open-Sans-Regular'), url('/assets/fonts/OpenSans-Regular.woff2') format('woff2')
	font-display: block

@font-face
	font-family: 'Open Sans'
	font-style: normal
	font-weight: 600
	src: local('Open Sans Semibold'), local('Open-Sans-Semibold'), url('/assets/fonts/OpenSans-SemiBold.woff2') format('woff2')
	font-display: block

html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit

body
	margin: 0
	padding: 0
	font-family: 'Open Sans', sans-serif
	background-color: #DEE1E6

ul
	margin: 0
	padding: 0
	list-style: none

img, picture,svg
	max-width: 100%
	display: block

$desktop: 1200px
$notebook: 100%

@mixin mw()
	@media(min-width: 1250px)
		margin: 0 calc(50% - $desktop/2)
	// @media(max-width: 1400px)
	// 	margin: 0 1rem

@mixin pw()
	@media(min-width: 1900px)
		padding: 0 calc(50% - $desktop/2)
	@media(max-width: 1899px)
		padding: 1rem

button.regular
	font-family: "Open Sans"
	font-size: 14px
	padding: 8px 24px
	border-radius: 4px
	border: 1px solid $grey
	cursor: pointer
	font-weight: 600
	background-color: #fff
	transition: all 0.3s ease
	&[disabled]
		border-color: #ccc
		cursor: not-allowed
	&.purple
		&.outline
			color: $purple
			border-color: $purple
			&:hover
				background-color: $purple
				color: #fff
a.button
		text-decoration: none
		font-weight: 600
		font-size: 14px
		padding: 8px 24px
		border-radius: 4px
		transition: all 0.3s ease
		&.purple
			background-color: $purple
			color: #fff
			&:hover
				background-color: darken($purple, 5%)

// typo
span.purple
	color: $purple
.stop-scrolling
	height: 100%
	overflow: hidden